# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media

# Virtual Environment
venv/
ENV/
pothole_front_env/

detection/
# Environment variables
.env

# IDE
.idea/
.vscode/
*.swp
*.swo
poth-hole-complete.html
model_s/
.DS_Store
staticfiles/